<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/views/layout :: head">
</head>
<body>
<div >
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:action="@{/blog/update}" method="post" th:object="${blog}">
                <div class="modal-header" style="background: dimgray">
                    <h4 class="modal-title" style="color: #e9e9e9">Edit Blog</h4>
                    <a th:href="@{/}"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button></a>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input type="hidden" th:field="*{id}" class="form-control">
                    </div>
                    <div class="form-group">
                        <label>Title</label>
                        <input class="form-control" th:field="*{titleBlog}"></input>
                    </div>
                    <div class="form-group">
                        <label>Content</label>
                        <input class="form-control" th:field="*{contentBlog}"></input>
                    </div>
                </div>
                <div class="modal-footer">
                    <a th:href="@{/}"><input type="button" class="btn btn-secondary"  value="Cancel"></a>
                    <input type="submit" class="btn btn-success" value="Save">
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>