<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="home.css">
</head>
<body>
<div class="hero">
    <div class="navbar">
        <img src="CoventicWebpageImages/logo.png" class="logo">
        <div>
            <a href="/login" ><button type="button">Sign In</button></a>
            <button type="button">Registration</button>
        </div>
        <div class="content">
            <small>Wellcome to our</small>
            <h1>World's Blogs</h1>
        </div>
    </div>
    <div class="bubbles">
        <img src="CoventicWebpageImages/bubble.png">
        <img src="CoventicWebpageImages/bubble.png">
        <img src="CoventicWebpageImages/bubble.png">
        <img src="CoventicWebpageImages/bubble.png">
        <img src="CoventicWebpageImages/bubble.png">
        <img src="CoventicWebpageImages/bubble.png">
        <img src="CoventicWebpageImages/bubble.png">
    </div>
</div>

</body>
</html>