<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::head">

</head>
<body>

<th:block th:include="/menu"></th:block>
<!--end menu-->
<div>
    <div class="content" style="height: 80vh">
        <div class="container-fluid">
            <div class="row" >
                <div class="col-2" style="display: flex;flex-direction: column" >
                    <!--                <a class="btn btn-primary mt-1" href="#addEmployeeModal" data-toggle="tooltip">Item 1</a>-->
                    <a href="/customer/create" class="a" style="margin-top: 70px"><i class="fa fa-plus"></i> Add New Customer</a>
                    <a href="/service/create"  class="a" style="margin-top: 40px"><i class="fa fa-plus"></i> Add New Service </a>
                    <a href="/contract-detail/create" class="a" style="margin-top: 40px"><i class="fa fa-plus"></i> Add New Contract Detail</a>

                </div>
                <div class="col-10">
<!--                <div class="col-10" style="margin-top: 28px">-->
<!--                    <h2 style="color: aliceblue ;text-align: center">List All Customers Use Services</h2>-->
<!--                    <table class="table table-striped">-->
<!--                        <thead class="thead-dark" >-->
<!--                        <tr>-->
<!--                            <th scope="col">#</th>-->
<!--                            <th scope="col">Name customer</th>-->
<!--                            <th scope="col">Name service</th>-->
<!--                            <th scope="col">Name attach service</th>-->
<!--                        </tr>-->
<!--                        </thead>-->
<!--                        <tbody style="background-color: #f7f5f2">-->
<!--                        <c:forEach var="cusService" items="${listCusService}">-->
<!--                            <tr class="contentPage">-->
<!--                                <th><c:out value="${cusService.id_khach_hang}"></c:out></th>-->
<!--                                <td><span><c:out value="${cusService.ten_khach_hang}"></c:out></span></td>-->
<!--                                <td><span><c:out value="${cusService.ten_dich_vu}"></c:out></span></td>-->
<!--                                <td><span><c:out value="${cusService.ten_dich_vu_di_kem}"></c:out></span></td>-->
<!--                            </tr>-->
<!--                        </c:forEach>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                    <ul id="pagination"></ul>-->
<!--                </div>-->
            </div>
        </div>
    </div>
    <!--end content-->
    <div class="footer" >
        <div class="container-fluid">
            <div class="row" >
                <p></p>
            </div>
        </div>
    </div>
</div>

</body>
</html>